{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block conteudo %}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Editar roupa</h4>            
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Editar roupa {{ roupa.tipo_de_roupa }} {{ roupa.cor }}</h5>
                    <form method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class="btn btn-primary" type="submit">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}