{% extends 'base.html' %}
{% block conteudo %}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Consulta</h4>            
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="col-md-5 col-xl-4">                    
                    <div class="card-body">
                        <h5 class="card-title">Busque roupas no sistema</h5>
                        <form method="GET">                        
                            <div class="d-flex align-items-center">
                                <div class="input-group">
                                    <span class="input-group-text text-body"><i class="fas fa-search"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" placeholder="Escreva o que deseja buscar..." name="pesquisa">
                                </div>
                                <button class="btn btn-primary my-0 ms-2" type="submit">Buscar</button>
                            </div>
    
                        </form>
                    </div>
                </div>
    
                {% if  pesquisa %}
                   
                        {% if roupas %}
                            <div class="table-responsive p-0">
                                <p class="mx-3">Resultados para: "{{ pesquisa }}"</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tipo de roupa</th>
                                            <th scope="col">Cor</th>
                                            <th scope="col">Tamanho</th>
                                            <th scope="col">Preço</th>
                                            <th scope="col">Quantidade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for roupa in roupas %}
                                        <tr>
                                            <th scope="row">{{ roupa.pk }}</th>
                                            <td>{{ roupa.tipo_de_roupa }}</td>
                                            <td>{{ roupa.cor }}</td>                                    
                                            <td>{{ roupa.tamanho }}</td>                                    
                                            <td>{{ roupa.preco }}</td>                                    
                                            <td>{{ roupa.quantidade }}</td>                                    
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
    
                        {% else %}
                        <div class="card-body">
                            <p><strong>Nada encontrado com "{{ pesquisa }}".</strong></p>
                        </div>
                        {% endif %}
                {% endif %}
                <!-- Divs genéricas -->
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}