{% extends 'base.html' %}
{% block conteudo %}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Principal</h4>            
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sobre o sistema</h5>
                    <p>
                        O sistema "Roupas" consiste em um sistema de apresentação das roupas, suas precificações, tamanhos e quantidades — semelhante ao CRUD de roupas presente em uma loja virtual.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}