{% extends 'base.html' %}
{% block conteudo %}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Sobre</h4>            
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sobre os bastidores</h5>
                    <p>Desenvolvedores:</p>
                    <ul>
                        <li>Ana Lydia de Sousa Lucena</li>
                        <li>Israel Ribeiro Silva</li>
                        <li>Sayonara Rayanne Soares de Araújo</li>
                    </ul>
                    <a href="#" target="_blank">Link do repositório</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}